
main {
  height: calc(100vh - 50px);
  min-height: calc(100vh - 50px);
  padding-top: 60px;
}

footer {
  height: 50px;
  background: linear-gradient(to right, blue, pink);
}

.bg-home {
  background: radial-gradient(red, blue);
}

